@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'Recoleta';
  src: url('/fonts/Recoleta.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.text-dark-purple {
  color: #2f1355;
}

.button-dark-purple {
  background-color: #4b2285; 
}

.button-hover-dark-purple {
  background-color: #371665; 
}

.font-recoleta {
  font-variant-ligatures: none;
}
